@font-face {
    font-family: Gilroy1;
    src: url(./Fonts/Gilroy-Black.otf);
}
@font-face {
    font-family: Gilroy2;
    src: url(./Fonts/Gilroy-Bold.otf);
}
@font-face {
    font-family: Gilroy3;
    src: url(./Fonts/Gilroy-Extrabold.otf);
}
@font-face {
    font-family: Gilroy4;
    src: url(./Fonts/Gilroy-Heavy.otf);
}
@font-face {
    font-family: Gilroy5;
    src: url(./Fonts/Gilroy-Medium.otf);
}
@font-face {
    font-family: Gilroy6;
    src: url(./Fonts/Gilroy-Regular.otf);
}
*{
padding: 0%;
margin: 0%;
box-sizing: border-box;
color: #fff;
font-family: "Gilroy5";
}
html,body{
width: 100%;
height: 100%;
}
#page1{
    width: 100%;
    height: 100vh;
    background-color: #000;
    padding: 0px 30px;
}
#page2{
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 40px;
}
.box{
    width: 250px;
    height: 250px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 15px;
}
.box h1{
    text-transform: uppercase;
    text-align: center;
    margin: 15px;
}
.box p{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #dadada;
    opacity: .9;
}

#nav{
    width: 100%;
    height: 75px;
    /* background-color: red; */
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav h1{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
#nav-part1{
    display: flex;
    gap: 20px;
}
#nav h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.container{
    width: 100%;
    height: 80vh;
    display: flex;
    padding: 20px 30px;
    gap: 20px;
}
#left{
    width: 50%;
    height: 80%;
    /* background-color: red; */
}
#left h1{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 85px;
    letter-spacing: 3px;
    padding: 45px 35px;
}
#left h1 img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
#right{
    width: 32vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#right img{
    width: 32vw;
    height: 50vh;
    object-fit: cover;
    padding: 50px;
    border-radius: 20%;
}
body::-webkit-scrollbar{
    background-color: transparent;
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(red, blue, green);
    border-radius: 8px;
}
@media (max-width: 500px) {
    #nav {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #nav h1 {
        font-size: 14px;
    }
    #nav h3 {
        font-size: 10px;
    }
    #left {
        position: absolute;
        width: 45%;
        height: 25%;
    }
    #left h1 {
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 1px;
        padding: 45px 0px;
    }
    #page1 {
        height: 77vh;
    }
    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #page2{
        flex-direction: column;
        gap: 3vh;
    }
    #right{
        width: 70vw;
        height: 100vh;
        padding: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #right img {
        position: absolute;
        top: 62vw;
        width: 115vw;
        height: 48vh;
    }
}